In [3]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib as plt
import seaborn as sns

### **Importing C coloms from a CSV file:**

In [14]:
data = pd.read_csv("C_column.csv")
column_name = data.columns[0]
data.head()

       C
0  -173,6
1  -183,9
2    -191
3  -206,6
4  -172,9

### **Number of elements and number of NA**

In [30]:
num_of_elements = data.shape[0]
num_of_na = data[column_name][data[column_name] == np.nan].count()
print(num_of_elements)

1998

In [28]:
data_no_na = data.dropna()

In [29]:
data_no_na.shape

(1969, 1)